<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Nick Hengeveld" />
   <link rel="stylesheet" href="/css/blog.css"   type="text/css" media="screen, projection" />
</head>
<body>

<div class="blog">
  <div class="overview">
    <div class="header">
      <h2><a href="/">Laconick</a></h2>
      <p>"You don't say much friend, but when you do it's to the point and I salute you for it."<br />-- Big Dan Teague</p>
    </div>

    <div class="dogs">
      <h3>Dog Stuff</h3>
      <ul>
        <li>2011.12.22 - <a href="http://www.everytrail.com/view_trip.php?trip_id=1398119">Tracking with Fezzik</a></li>
        <li>2011.12.15 - <a href="http://www.everytrail.com/view_trip.php?trip_id=1388577">Tracking with Maverick</a></li>
      </ul>
    </div>

    <div class="reading">
      <h3>Reading</h3>
      <a href="http://www.amazon.com/Jesus-Interrupted-Revealing-Contradictions-ebook/dp/B001TKD4XA/ref=tmm_kin_title_0?ie=UTF8&m=AG56TWVU5XWC2&qid=1325011489&sr=8-1">Jesus Interrupted</a> - Bart D. Ehman
    </div>

    <div class="footer">
      <div class="contact">
        <p>
          Nick Hengeveld<br />
          Developer at <a href="http://github.com/">GitHub</a><br />
          <a href="http://github.com/nickh/">github.com/nickh</a><br />
          <a href="http://twitter.com/bigdoggeek/">twitter.com/bigdoggeek</a><br />
        </p>
      </div>
    </div>
  </div>

  <div class="posts">
    {{ content }}
  </div>
</div>

</body>
</html>
